{% extends "layout.html" %}
{% load static %}
{% block body %} 

<div class="videos">
            
    <div class="channel-art">
        <img src="images/channel-art.jpg" alt="">
    </div>
    <div class="channel-header flex">
        <div class="channel-img-title flex">
            <img class="img" src="images/logo.jpg" alt="">
            <div class="channel-image-texts">
                <h4>Desphixs</h4>
                <span>2.46K subscribers</span>
            </div>
        </div>
        <div class="channel-header-btns">
            <div><a href="" class="channel-join">Join</a></div>
            <div><a href="" class="channel-subscribe">Subscribe</a></div>
        </div>
    </div>
    <div class="channel-header-links flex">
        <a href="channel.html" class="display-this">Home</a>
        <a href="channel-videos.html" class="display-this">Videos</a>
        <a href="community.html" class="dont-display-thdis">Community</a>
        <a href="index.html" class="dont-display-this">Membership</a>
        <a href="index.html" class="dont-display-this">Channels</a>
        <a href="about.html" class="display-this">About</a>
        <a href="" class="dont-display-this"><i class="material-icons">search</i></a>
    </div>
    <br><br>
        <hr>
    <div class="videos__container">
        <!-- Single Video Starts Here -->

        <div class="conteent-border">
            <div class="about-div">
                <div class="about-left">
                    <h3>Description</h3>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur reiciendis autem maiores voluptates animi nemo odit sunt eligendi repudiandae repellendus nobis, ullam blanditiis eius temporibus dicta provident molestias molestiae quasi?</h4>
                    <hr>
                    <div class="about-details">
                        <div>
                            <h4>Details</h4>
                        </div>
                        
                        <div class="about-biz">
                            <h3><small>For business enquiry:</small></h3>
                            <h3 class="left-h4"><small>despjoxs@gmail.com</small></h3>
                        </div>
                        <div class="about-biz">
                            <h3><small>For business enquiry</small></h3>
                            <h3 class="left-h4"><small>despjoxs@gmail.com</small></h3>
                        </div>
                    </div>
                    <hr>
                    <div class="links">
                        <h4>Links</h4>
                    
                        <div class="links-content">
                            <a href="">Website</a> <br><br>
                            <a href="">Website</a> <br><br>
                            <a href="">Website</a> <br><br>
                            <a href="">Website</a>  
                        </div>
                    </div>

                </div>
                <div class="about-right">
                    <h4><b>Stats</b></h4>
                    <hr>
                    <div class="stats">
                        <h5>Joined Jan 27, 2016</h5>
                        <hr>
                        <h5>127,000 Views</h5>
                        <hr>
                        <h5>
                            <i class="material-symbols-outlined">flag</i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}