{% extends "layout.html" %}
{% load static %}
{% block body %} 

<div class="videos">
            
    <div class="channel-art">
        <img src="images/channel-art.jpg" alt="">
    </div>
    <div class="channel-header flex">
        <div class="channel-img-title flex">
            <img class="img" src="images/logo.jpg" alt="">
            <div class="channel-image-texts">
                <h4>Desphixs</h4>
                <span>2.46K subscribers</span>
            </div>
        </div>
        <div class="channel-header-btns">
            <div><a href="" class="channel-join">Join</a></div>
            <div><a href="" class="channel-subscribe">Subscribe</a></div>
        </div>
    </div>
    <div class="channel-header-links flex">
        <a href="{% url 'channel' %}" class="display-this">Home</a>
        <a href="{% url 'video' %}" class="display-this">Videos</a>
        <a href="{% url 'community' %}" class="dont-display-thdis">Community</a>
        <a href="index.html" class="dont-display-this">Membership</a>
        <a href="index.html" class="dont-display-this">Channels</a>
        <a href="about.html" class="display-this">About</a>
        <a href=""><i class="material-icons">search</i></a>
    </div>
    
    <hr>
    <br>
    <div class="popular-video flex">
        <h3>All Videos</h3>
        
    </div>
    <br>
    <div class="videos__container">
        <!-- Single Video Starts Here -->
        <div class="video">
            <div class="video__thumbnail">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="video__details">
                <div class="author">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="title">
                    <h3>Youtube Clone Using HTML, CSS and JS</h3>
                    <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                    <span><small>1M Views . 1 Months Ago</small></span>
                </div>
            </div>
        </div>
        <!-- Single Video Starts Here -->
        <div class="video">
            <div class="video__thumbnail">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="video__details">
                <div class="author">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="title">
                    <h3>Youtube Clone Using HTML, CSS and JS</h3>
                    <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                    <span><small>1M Views . 1 Months Ago</small></span>
                </div>
            </div>
        </div>

        <!-- Single Video Starts Here -->
        <div class="video">
            <div class="video__thumbnail">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="video__details">
                <div class="author">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="title">
                    <h3>Youtube Clone Using HTML, CSS and JS</h3>
                    <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                    <span><small>1M Views . 1 Months Ago</small></span>
                </div>
            </div>
        </div>

        <!-- Single Video Starts Here -->
        <div class="video">
            <div class="video__thumbnail">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="video__details">
                <div class="author">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="title">
                    <h3>Youtube Clone Using HTML, CSS and JS</h3>
                    <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                    <span><small>1M Views . 1 Months Ago</small></span>
                </div>
            </div>
        </div>

        <!-- Single Video Starts Here -->
        <div class="video">
            <div class="video__thumbnail">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="video__details">
                <div class="author">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="title">
                    <h3>Youtube Clone Using HTML, CSS and JS</h3>
                    <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                    <span><small>1M Views . 1 Months Ago</small></span>
                </div>
            </div>
        </div>

        <!-- Single Video Starts Here -->
        <div class="video">
            <div class="video__thumbnail">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="video__details">
                <div class="author">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="title">
                    <h3>Youtube Clone Using HTML, CSS and JS</h3>
                    <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                    <span><small>1M Views . 1 Months Ago</small></span>
                </div>
            </div>
        </div>

        


    </div>
</div>
{% endblock body %}