{% extends "layout.html" %}
{% load static %}
{% block body %}  

<div class="videos__container">
    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
</div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>
    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>
    


</div>

{% endblock body %}