{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" type="images/png" href="{% static 'images/youtube-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <!-- Header menu Start -->

        <div class="header__left">
            <i id="menu" class="material-icons">menu</i>
            <a href="{% url 'home' %}">
                <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="">
            </a>
        </div>
        <!-- Header menu end -->

        <!-- Header seach Start -->

        <div class="header__search">
            <form action="">
                <input type="text" placeholder="Search">
                <button><i class="material-icons">search</i></button>
            </form>
        </div>
        <!-- Header search Start -->
        
        <!-- Header Icons Start -->
        <div class="header__icons">
            <i class="material-icons display-this">search</i>
            <i class="material-icons ">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons display-this">notifications</i>
            <a href="channel.html"><i id="drop-down" class="material-icons display-this">account_circle</i></a>
        </div>
        <!-- Header Icons Ends -->

    </div>

    <!-- Main Body Starts -->
    <div class="mainBody">
        <div class="sidebar">
            <div class="sidebar__categories">
                
                <!-- Single Category -->
                <a href="{% url 'home' %}">
                    <div class="sidebar__category">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </div>
                </a>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">local_fire_department</i>
                    <span>Trending</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subscriptions</span>
                </div>
            </div>
            <hr>
            <div class="sidebar__categories">

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">library_add_check</i>
                    <span>Library</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">history</i>
                    <span>History</span>
                </div>

                <!-- Single Category -->
                <a href="{% url 'channel_video' %}">
                    <div class="sidebar__category">
                        <i class="material-icons">play_arrow</i>
                        <span>Your Videos</span>
                    </div>
                </a>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">watch_later</i>
                    <span>Watch Later</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Videos</span>
                </div>
            </div>
            <hr>
        </div>
        <!-- Sidebar Ends -->

        <!-- Video Section Starts -->
        <div class="videos">
            <div class="drop-down-container">
                <h1>Recommended</h1>
                <div class="dropdown-content-background">
                    <div class="dropdown-contents">
                        <div class="dropdown-content">
                            <i class="material-icons">videocam</i>
                            <span>Create</span>
                        </div>
                        <div class="dropdown-content">
                            <i class="material-icons">settings</i>
                            <span>Settings</span>
                        </div>
                        <div class="dropdown-content">
                            <i class="material-icons">person</i>
                            <span>Switch Account</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videos">

                <div class="channel-art">
                    <img src="images/channel-art.jpg" alt="">
                </div>
                <div class="channel-header flex">
                    <div class="channel-img-title flex">
                        <img class="img" src="images/logo.jpg" alt="">
                        <div class="channel-image-texts">
                            {% if request.session.email %}
                            <h4>{{ request.session.name}}</h4>
                            {% else %}
                            <script>
                                window.location.href = "{% url 'create_channel' email=email %}";
                            </script>
                        {% endif %}
                            <span>2.46K subscribers</span>
                        </div>
                    </div>
                    <div class="channel-header-btns">
                        {% if request.session.name %}
                        <div><a href="#" class="channel-subscribe">Subscribe</a></div>
                        {% else %}
                        <script>
                            window.location.href = "{% url 'create_channel' email=email %}";
                        </script>
                    {% endif %}
                    </div>
                </div>
                <div class="channel-header-links flex">
                    <a href="{% url 'channel_video' %}" class="display-this">Home</a>
                    <a href="{% url 'video' %}" class="display-this">Videos</a>
                    <a href="{% url 'community' %}" class="dont-display-thdis">Community</a>
                    <a href="index.html" class="dont-display-this">Membership</a>
                    <a href="index.html" class="dont-display-this">Channels</a>
                    <a href="{% url 'about' %}" class="display-this">About</a>
                    <a href=""><i class="material-icons">search</i></a>
                </div>

                <hr>
                <br>
                <div class="popular-video flex">
                    <h3>All Videos</h3>

                </div>
                <br>

        {% block  body %}  {% endblock %}

</div>
</div>
</div>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>