{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration|Successful</title>
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <style>
      .card .logo_youtube{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
  </style>
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="card" style="border-radius: 15px;">
              <div class="logo_youtube">
                <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="" height="50px" width="100px">
              </div>
                <div class="text-center mt-4 name" align="center">
                    Thank you for Register in Youtube!.<br>
                    <span style="color: green;">You Can Login Now</span>
                </div><br><br>
                <form class="p-3 mt-3" action="{% url 'login' %}">
                  <div class="d-flex justify-content-center">
                    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-outline-primary order-0">Submit</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </section>
</body>
</html>