{% extends "layout.html" %}
{% load static %}
{% block body %}

<div class="header">
    <!-- Header menu Start -->

    <div class="header__left">
        <i id="menu" class="material-icons">menu</i>
        <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="">
    </div>
    <!-- Header menu end -->

    <!-- Header seach Start -->

    <div class="header__search">
        <form action="">
            <input type="text" placeholder="Search">
            <button><i class="material-icons">search</i></button>
        </form>
    </div>
    <!-- Header search Start -->
    
    <!-- Header Icons Start -->
    <div class="header__icons">
        <i class="material-icons display-this">search</i>
        <i class="material-icons ">videocam</i>
        <i class="material-icons">apps</i>
        <i class="material-icons display-this">notifications</i>
        <i id="drop-down" class="material-icons display-this">account_circle</i>
    </div>
    <!-- Header Icons Ends -->

</div>

<main class="single_pages">
    <section class="video_items flex">
        <div class="left">
            <div class="left_content">
                <video controls>
                    <source src="video/Desphixs Logo Intro.mp4" type="video/mp4" poster="images/1.jpg">
                </video>

                <div class="tag">
                    <label for="" class="tags">#desphixs #frontend #css</label>
                    <p>Youtube Clone using HTML, CSSS and JS</p>
                </div>

                <div class="view flex2 border_bottom">
                    <div class="view-text">
                        <span>123, 234 Views</span>
                    </div>

                    <div class="flex">
                        <div class="icon">
                            <a href=""><i class="fa fa-thumbs-up"></i></a>
                            <label for="">5k</label>
                        </div>

                        <div class="icon">
                            <a href=""><i class="fa fa-thumbs-down"></i></a>
                            <label for="">Dislike</label>
                        </div>

                        <div class="icon">
                            <a href=""><i class="fa fa-share"></i></a>
                            <label for="">Share</label>
                        </div>

                        <div class="icon">
                            <a href=""><i class="fa fa-scissors"></i></a>
                            <label for="">Clip</label>
                        </div>

                        <div class="icon">
                            <a href=""><i class="fa fa-bookmark"></i></a>
                            <label for="">Save</label>
                        </div>

                        <div class="icon">
                            <a href=""><i class="fa fa-thumbs-up"></i></a>
                            <label for="">5k</label>
                        </div>

                        <div class="icon">
                            <a href=""><i class="fa fa-ellipsis"></i></a>
                        </div>
                    </div>
                </div>

                <div class="details flex border_bottom">
                    <div class="img">
                        <img src="images/logo.jpg" alt="">
                    </div>
                    <div class="heading">
                        <h4>Desphixs <small><i class="fa fa-check-circle"></i></small> </h4>
                        <span>2.4K Subscribers</span>

                        <h5>Youtube Clone suing HTML, CSS, and JS and guess what it'll be responsive</h5>
                        <span> <i class="fa fa-caret-down"></i> show more</span>
                    </div>
                    <div>
                        <a href="" class="subscribe-btn">Subscribe</a>
                    </div>
                </div>

                <hr class="mid-hr">

                <div class="comment">
                    <div class="comment-heading flex">
                        <h4>2 Comments</h4>
                        <h4><i class="fa fa-list-ul"></i> <label>Sort By</label> </h4>
                    </div>
                </div>

                <div class="details comment_self flex">
                    <div class="img">
                        <img src="images/logo.jpg" alt="">
                    </div>
                    <div class="heading">
                        <input type="text" placeholder="Add a comment...">
                    </div>
                </div>

                <div class="details_Comment">
                    <div class="details flex">
                        <div class="img">
                            <img  src="images/logo.jpg" alt="">
                        </div>
                        <div class="heading">
                            <h4>Jenny Doe <span>17 Months ago</span></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quod!</p>
                            <div class="comment-like flex">
                                <div class="icon">
                                    <i class="fa fa-thumbs-up"></i>
                                    <label for="">5</label>
                                </div>

                                <div class="icon">
                                    <i class="fa fa-thumbs-down"></i>
                                    <label for="">Dislike</label>
                                </div>

                                <div class="icon">
                                    <label for=""><a href="">Reply</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="replay">
                    <label for="" class="tags"><i class="fa fa-caret-up"></i>Hide Reply</label>
                    <div class="replay-details flex">
                        <div class="img">
                            <img src="images/logo.jpg"  alt="">
                        </div>
                        <div class="text">
                            <h4><label for="">Desphixs</label> <span>16 Months ago</span> </h4>
                            <p>Thank you</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="right_content">
                <button class="chat">Show Chat Reply</button>
                <div class="tags">
                    <label for="" class="tags-bg">All</label>
                    <label for="" class="tags-bg">Web Design</label>
                    <label for="" class="tags-bg">Frontend</label>
                    <label for="" class="tags-bg">HTML</label>
                </div>

                <div class="video_items vide_sidebar flex">
                    <a href="">
                        <img src="images/1.jpg" alt="">
                    </a>
                    <div class="details">
                        <p>Youtube CLone using HTML, CSS and JS</p>
                        <span>Desphixs <i class="fa fa-check-circle"></i></span>
                        <span>203K Views . 1 Week Ago </span>
                    </div>
                </div>

                <div class="video_items vide_sidebar flex">
                    <a href="">
                        <img src="images/1.jpg" alt="">
                    </a>
                    <div class="details">
                        <p>Youtube CLone using HTML, CSS and JS</p>
                        <span>Desphixs <i class="fa fa-check-circle"></i></span>
                        <span>203K Views . 1 Week Ago </span>
                    </div>
                </div>

                <div class="video_items vide_sidebar flex">
                    <a href="">
                        <img src="images/1.jpg" alt="">
                    </a>
                    <div class="details">
                        <p>Youtube CLone using HTML, CSS and JS</p>
                        <span>Desphixs <i class="fa fa-check-circle"></i></span>
                        <span>203K Views . 1 Week Ago </span>
                    </div>
                </div>

                
            </div>
        </div>

    </section>
</main>

{% endblock body %}