{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" type="images/png" href="{% static 'images/youtube-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/single.css' %}" type="text/css">

    <!-- CDNS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <style>
        .sidebar {
            position:fixed;
            top: 5;
            left: -200px; /* Hide sidebar off-screen */
            width: 200px;
            height: 100%;
            background-color: #fff;
            overflow-x:hidden;
            transition: 0.1s;
            z-index: 1000;
        }
        
        .sidebar.visible {
            left: 0; /* Slide sidebar into view */
        }


        .sidebar.visible ~ .mainBody {
            margin-left: 100px; /* Push content right when sidebar is visible */
        }

        
        
    </style>
</head>
<body>
    <div class="header">
        <!-- Header menu Start -->

        <div class="header__left">
            <i id="menu" class="material-icons">menu</i>
            <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="">
        </div>
        <!-- Header menu end -->

        <!-- Header seach Start -->

        <div class="header__search">
            <form action="">
                <input type="text" placeholder="Search">
                <button><i class="material-icons">search</i></button>
            </form>
        </div>
        <!-- Header search Start -->
        
        <!-- Header Icons Start -->
            
            <i id="drop-down" class="material-icons display-this">account_circle</i>
        </div>
        <!-- Header Icons Ends -->

    </div>

    <div class="sidebar">
        <div class="sidebar__categories">
            
            <!-- Single Category -->
            <a href="{% url 'home' %}">
                <div class="sidebar__category">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </div>
            </a>

            <!-- Single Category -->
            <div class="sidebar__category">
                <i class="material-icons">local_fire_department</i>
                <span>Trending</span>
            </div>

            <!-- Single Category -->
            <div class="sidebar__category">
                <i class="material-icons">subscriptions</i>
                <span>Subscriptions</span>
            </div>
        </div>
        <hr>
        <div class="sidebar__categories">

            <!-- Single Category -->
            <div class="sidebar__category">
                <i class="material-icons">library_add_check</i>
                <span>Library</span>
            </div>

            <!-- Single Category -->
            <div class="sidebar__category">
                <i class="material-icons">history</i>
                <span>History</span>
            </div>

            <!-- Single Category -->
            {% if request.session.email %}
            <a href="{% url 'channel_video' %}">
                <div class="sidebar__category">
                    <i class="material-icons">play_arrow</i>
                    <span>Your Videos</span>
                </div>
            </a>

            <!-- Single Category -->
            <div class="sidebar__category">
                <i class="material-icons">watch_later</i>
                <span>Watch Later</span>
            </div>
            <!-- Single Category -->
            <div class="sidebar__category">
                <i class="material-icons">thumb_up</i>
                <span>Liked Videos</span>
            </div>
            {% else %}
            <div class="channel-header-btns">
                <div><a href="{% url 'login' %}" class="channel-join">Sign In</a></div>
            </div>
            {% endif %}
        </div>
        <hr>
    </div>

    <main class="single_pages">
        <section class="video_items flex">
            <div class="left">
                <div class="left_content">
                    <video controls>
                        <source src="{{ video.video_file.url }}" type="video/mp4" poster="{{ video.thumbnail.url }}">
                    </video>

                    <div class="tag">
                        <label for="" class="tags">#youtube #Rohit #python</label>
                        <p>{{ video.name }}</p>
                    </div>

                    <div class="view flex2 border_bottom">
                        <div class="view-text">
                            <span>123, 234 Views</span>
                        </div>

                        <div class="flex">
                            <div class="icon">
                                <a href=""><i class="fa fa-thumbs-up"></i></a>
                                <label for="">5k</label>
                            </div>

                            <div class="icon">
                                <a href=""><i class="fa fa-thumbs-down"></i></a>
                                <label for="">Dislike</label>
                            </div>

                            <div class="icon">
                                <a href=""><i class="fa fa-share"></i></a>
                                <label for="">Share</label>
                            </div>

                            <div class="icon">
                                <a href=""><i class="fa fa-bookmark"></i></a>
                                <label for="">Save</label>
                            </div>

                        </div>
                    </div>

                    <div class="details flex border_bottom">
                        <div class="img">
                            <img src="{{ channel.image.url }}" alt="{{ channel.name }}">
                        </div>
                        <div class="heading">
                            <h4>{{ video.channel_name }} <small><i class="fa fa-check-circle"></i></small> </h4>
                            <span>4k Subscribers</span>

                            <h5>{{ video.description }}</h5>
                            <span> <i class="fa fa-caret-down"></i> show more</span>
                        </div>
                        <div>
                            <form  id="subscribeForm" action="{% url 'subscribe_channel' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ video.channel_name }}">
                                <input type="hidden" name="email" value="{{ request.session.email}}">
                                <input type="submit" class="subscribe-btn" value="Subscribe">
                            </form>
                        </div>
                    </div>

                    <hr class="mid-hr">
                </div>
            </div>

            
            <div class="right">
                <div class="right_content">
                    
                    {% for vid in same_channel_videos %}
                    <div class="video_items vide_sidebar flex">
                        <a href="{% url 'play_video' name=vid.name %}">
                            <img src="{{ vid.thumbnail.url }}" alt="Thumbnail for {{ vid.name }}">
                        </a>
                        <div class="details">
                            <p>{{ vid.name }}</p>
                            <span>203K Views . 1 Week Ago </span>
                        </div>
                    </div>
                    {% endfor %}

                    {% for vid in different_channel_videos %}
                    <div class="video_items vide_sidebar flex">
                        <a href="{% url 'play_video' name=vid.name %}">
                            <img src="{{ vid.thumbnail.url }}" alt="Thumbnail for {{ vid.name }}">
                        </a>
                        <div class="details">
                            <p>{{ vid.name }}</p>
                            <span>203K Views . 1 Week Ago </span>
                        </div>
                    </div>
                    {% endfor %}

                    
                </div>
            </div>

        </section>
    </main>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#menu').on('click', function() {
                $('.sidebar').toggleClass('visible');
            });
        });
        document.getElementById('subscribeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            
            fetch("{% url 'subscribe_channel' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'subscribed') {
                    alert('Subscribed successfully! Subscribers: ' + data.subscribers);
                } else if (data.status === 'already_subscribed') {
                    alert('You are already subscribed.');
                } else {
                    alert('An error occurred.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
