{% extends "your_video/layout.html" %}
{% load static %}
{% block body %} 

<div class="channel-intro-video">
    <div class="intro-video">
        <video controls>
            <source src="video/Desphixs Intro new November 2020.mp4">
        </video>
    </div>
    <div class="intro-contents">
        <h3>Complete Guide to Becoming a Self taught Programmer/Developer</h3>
        <small class="small">337 views - 1 year ago</small>
        <p>In this video I will go through my 5 suggested steps for becoming a software developer of any type without going to college or bootcamp.</p>

        <small>Read More</small>
    </div>
</div>
<hr>
<br>
<div class="popular-video flex">
    <h3>Popular uploads</h3>
    <div class="flex play-all">
        <i class="material-icons">play_arrow</i>
        <a href="">Play All</a>
    </div>
</div>
<br>
<div class="videos__container">
    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    <!-- Single Video Starts Here -->
    <div class="video">
        <div class="video__thumbnail">
            <img src="images/1.jpg" alt="">
        </div>
        <div class="video__details">
            <div class="author">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="title">
                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                <a href=""><small>Desphixs <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>

    


</div>

{% endblock body %}
