{% extends "your_video/layout.html" %}
{% load static %}
{% block body %}

<div class="videos__container">
    <!-- Single Video Starts Here -->
    {% for video in video %}
    <div class="video">
        <a href="{% url 'play_video' video.name %}"> <!-- Add a link around the thumbnail image -->
            <div class="video__thumbnail">
                <img src="{{ video.thumbnail.url }}" alt="">
            </div>
        </a>
        <div class="video__details">
            <div class="author">
                <!-- Video element initially hidden -->
                <video src="{{ video.video_file.url }}" controls style="display: none;"></video>
            </div>
            <div class="title">
                <h3>{{ video.name }}</h3>
                <a href=""><small>{{ video.channel_name }} <i class="fas fa-check-circle"></i></small></a>
                <span><small>1M Views . 1 Months Ago</small></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function toggleVideo(thumbnail) {
        // Find the video element within the same parent div
        var video = thumbnail.nextElementSibling.querySelector('video');

        // Toggle the display style of the video element
        if (video.style.display === 'none') {
            video.style.display = 'block';
        } else {
            video.style.display = 'none';
        }
    }
</script>

{% endblock body %}