{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login_register.css'%}">
</head>
<body>
    <section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">OTP Verification</h2>

              <form action="{% url 'otp1' email=email %}" method="post">
                {% csrf_token %}
                Thank you for registering with Rohit Travel!<br>
                <span style="color: green;">Few Steps Left.</span><br><br>
                <input type="hidden" name="email" value="{{ email }}">
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" name="otp" pattern="[0-9]{6}" id="form3Example1cg" class="form-control form-control-lg" />
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="submit" data-mdb-button-init
                    data-mdb-ripple-init class="btn btn-lg btn-outline-primary order-0">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
